<footer class="page-footer container-fluid" style="background-color:#1498D5;" >
    <div class="row">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-6 mx-auto">
          <img src="includes/images/logos/logo-allwhite.png">
        </div>
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-6 mx-auto">
          <h5>ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</h5>
          <ul class="list-unstyled">
            <li><a href="/faqs">Συχνές Ερωτήσεις</a></li>
            <li><a href="/tutorials">Tutorials</a></li>
            <li><a href="mailto:contact@activradar.com?subject=Επικοινωνία" "email me">Επικοινωνία</a></li>
            <li><a href="/contact">Διαφημίστε την επιχείρισή σας</a></li>
            <li><a href="/terms">Όροι και Προϋποθέσεις Χρήσης</a></li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
      </div>

      <div class="footer-copyright text-center py-3">© 2019 Copyright: <a href="#">Activ Radar</a>
      </div>
      </div>
</footer>
