<!DOCTYPE html>

<html >

	<head>
		<meta charset="utf-8">
		<title>Είσοδος στο Activ Radar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="includes/css/style.css">

		<!-- CDNs -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
		<script type="text/javascript" src="includes/js/angular-route.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.js"></script> 
		
		<script src="includes/controllers/users.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
		<script type="text/javascript">
		$("input").on("change", function() {
    		this.setAttribute(
        	"data-date",
        	moment(this.value, "YYYY-MM-DD").local().format( this.getAttribute("data-date-format") )
    		)
		}).trigger("change")
		</script>
		
		<!-- favicon display -->
		<link rel="shortcut icon" href="includes/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="includes/images/favicon.ico" type="image/x-icon">
		
	</head>

	<body ng-app="myApp" ng-controller="UsersController" style="background-image: url('includes/images/athletes.jpg'); background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
		<br>
		<br>
		
		<header>
		<%- include('./includes/html/nav_logged.ejs'); %>
		</header>
		<div class="wrapper" >
			{{check_if_logged()}}
			<div class="inner">
				
					<div class="container">
	
				<form ng-submit="loginUser()"> 
					
						<div class="row justify-content-center">
							<div class="col-6 ">
					<img src="includes/images/activradar.png" alt="">
				</div>
							<div class="col-6 my-auto">
								<h4>Είσοδος στο Activ Radar</h4>
								<input type="string" id="username_field" placeholder="Email χρήστη" class="form-control mb-2" ng-model="User.username">
								<div class="invalid-feedback">
	          						Εισάγετε το email σας ως username π.χ. (bestuser@gmail.com)
	        					</div>
	        					<input type="password" id="password_field" placeholder="Κωδικός πρόσβασης" class="form-control mb-2" ng-model="User.password">
							<div class="invalid-feedback">
          						Εισάγετε το password
        					</div>
        					<button type="submit" class="btn btn-primary">Είσοδος <i class="zmdi zmdi-arrow-right"></i></button>
							</div>
							
						</div>
					
						</form>
	    			</div> 
			</div>
		</div> 
		<%- include('./includes/html/footer.ejs'); %>
	</body>
</html>
