<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- favicon display -->
		<link rel="shortcut icon" href="includes/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="includes/images/favicon.ico" type="image/x-icon">

		<title>Activ Radar</title>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	 
		<script src="includes/controllers/activities.js"></script>

		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

		<!-- Custom styles for this template -->
		<link href="includes/css/style.css" rel="stylesheet">
		<link href="includes/css/autocomplete.css" rel="stylesheet">

		<!--idea from https://codepen.io/anon/pen/EMyamQ -->
	    <style type="text/css">
	    	body {
			  display: inline-block;
			  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
			  height: 100vh;
			  margin: 0;
			  color: white;
			}

			h2, h3, small {
			  margin: .8em 3rem;
			}
	    </style>
	</head>

	<body>
		<h2 class="text-left mb-0">Ουπς!</h2>
		<h3 class="mb-0">Κάτι πήγε στραβά!</h3>
		<small><a href="/">Επιστροφή στην αρχική σελίδα</a></small>
	</body>
	
</html>
