<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Activ Radar - Μάθετε περισσότερα</title>
        <%- include('./includes/html/head_includes.ejs'); %>
        <link rel="stylesheet" href="includes/css/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.min.js"></script>
        <link rel="stylesheet" href="includes/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-inview/3.0.0/angular-inview.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        
        <script src="includes/controllers/activities.js"></script>
        
    </head>
    <body ng-app="myApp" ng-controller="ActivitiesController">
        <header ng-cloak>
            <%- include('./includes/html/nav_logged.ejs'); %>
        </header>
        <br>
        <div class="container">
            <hr class="clearfix w-100">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/faqs"><button class="btn btn-default">Συχνές Ερωτήσεις</button></a></li>
                <li class="list-inline-item"><a href="/tutorials"><button class="btn btn-default">Tutorials</button></a></li>
                <li class="list-inline-item"><a href="/terms"><button class="btn btn-primary">Όροι και Προϋποθέσεις</button></a></li>
                <li class="list-inline-item"><a href="/contact"><button class="btn btn-default">Επικοινωνία & Διαφήμιση</button></a></li>
            </ul>
            <hr class="clearfix w-100">
        </div>
        <!--TERMS AND CONDITIONS-->
        <br><br>
        <div class="container">
            <div class="row">
                <h2>Όροι και Προϋποθέσεις</h2>
                <hr class="clearfix w-100">
                <p class="text-left">Οι παρόντες Όροι και Προϋποθέσεις (&quot;Όροι&quot;, &quot;Συμφωνία&quot;) είναι μία συμφωνία μεταξύ των διαχειριστών της παρούσας ιστοσελίδας (&quot;Διαχειριστών&quot;, &quot;εμάς&quot;, &quot;εμείς&quot; or &quot;μας&quot;) και εσάς (&quot;Χρήστης&quot;, &quot;εσείς&quot;, &quot;σας&quot; or &quot;εσάς&quot;). Αυτή η Συμφωνία καθορίζει τους γενικούς όρους χρήσης της χρήσης του <a target="_blank" rel="nofollow" href="/">activradar.com</a> ιστοσελίδα και οποιοδήποτε από τα προϊόντα ή τις υπηρεσίες της (συνολικά, &quot;Ιστοσελίδα&quot;, &quot;Πλατφόρμα&quot; or &quot;Υπηρεσίες&quot;).</p>
            </div>
            <div class="row">
                <h2>Λογαριασμοί χρηστών</h2>
                <p class="text-left">Αν δημιουργήσετε έναν λογαριασμό στην Ιστοσελίδα, είστε υπεύθυνος για τη διατήρηση της ασφάλειας του λογαριασμού σας και είστε πλήρως υπεύθυνος για όλες τις δραστηριότητες που πραγματοποιούνται στο πλαίσιο του λογαριασμού και οποιεσδήποτε άλλες ενέργειες που έγιναν σε σχέση με αυτόν. Η παροχή ψευδών πληροφοριών επικοινωνίας οποιουδήποτε είδους μπορεί να έχει ως αποτέλεσμα τον τερματισμό του λογαριασμού σας. Πρέπει να μας ειδοποιήσετε αμέσως για τυχόν μη εξουσιοδοτημένες χρήσεις του λογαριασμού σας ή για οποιαδήποτε άλλη παραβίαση της ασφάλειας. Δεν θα ευθυνόμαστε για οποιεσδήποτε πράξεις ή παραλείψεις από εσάς, συμπεριλαμβανομένων τυχόν ζημιών οποιουδήποτε είδους που προκύπτουν ως αποτέλεσμα τέτοιων ενεργειών ή παραλείψεων. Μπορούμε να αναστείλουμε, να απενεργοποιήσουμε ή να διαγράψουμε το λογαριασμό σας (ή οποιοδήποτε τμήμα αυτού) εάν διαπιστώσουμε ότι έχετε παραβιάσει οποιαδήποτε διάταξη της παρούσας Συμφωνίας ή ότι η συμπεριφορά ή το περιεχόμενό σας θα έβλαπτε τη φήμη και την καλή θέληση μας. Αν διαγράψουμε το λογαριασμό σας για τους προαναφερθέντες λόγους, ενδέχεται να μην κάνετε ξανά εγγραφή για τις Υπηρεσίες μας. Μπορούμε να αποκλείσουμε τη διεύθυνση ηλεκτρονικού ταχυδρομείου και τη διεύθυνση πρωτοκόλλου Internet για να αποτρέψετε την περαιτέρω εγγραφή.</p>
            </div>
            <div class="row">
                <h2>Περιεχόμενο χρήστη</h2>
                <p class="text-left">Δεν διαθέτουμε δεδομένα, πληροφορίες ή υλικό ("Περιεχόμενο") που υποβάλλετε στην Ιστοσελίδα κατά τη χρήση της Υπηρεσίας. Θα έχετε την αποκλειστική ευθύνη για την ακρίβεια, την ποιότητα, την ακεραιότητα, τη νομιμότητα, την αξιοπιστία, την καταλληλότητα και την ιδιοκτησία πνευματικής ιδιοκτησίας ή το δικαίωμα χρήσης όλων των περιεχομένων που υποβάλλονται. Μπορούμε, αλλά δεν έχουμε καμία υποχρέωση να παρακολουθήσουμε περιεχόμενο στο δικτυακό τόπο που υποβάλαμε ή δημιουργήσαμε χρησιμοποιώντας τις Υπηρεσίες μας από εσάς. Εάν δεν επιτρέπεται ρητά από εσάς, η χρήση από εσάς του Δικτυακού Τόπου δεν μας παρέχει την άδεια χρήσης, αναπαραγωγής, προσαρμογής, τροποποίησης, δημοσίευσης ή διανομής του περιεχομένου που δημιουργήσατε ή αποθηκεύσατε στο λογαριασμό χρήστη για εμπορικό, εμπορικό ή άλλο παρόμοιο σκοπό. Ωστόσο, μας παραχωρείτε άδεια πρόσβασης, αντιγραφής, διανομής, αποθήκευσης, μετάδοσης, αναδιαμόρφωσης, εμφάνισης και εκτέλεσης του Περιεχομένου του λογαριασμού χρήστη σας μόνο όπως απαιτείται για την παροχή των Υπηρεσιών σε εσάς. Χωρίς να περιοριζόμαστε σε καμία από αυτές τις παραστάσεις ή εγγυήσεις, έχουμε το δικαίωμα, αν και όχι την υποχρέωση, να αρνούμαστε ή να αφαιρούμε, κατά τη λογική μας άποψη, οποιαδήποτε Περιεχόμενο που κατά τη γνώμη μας παραβιάζει οποιαδήποτε από τις πολιτικές μας ή είναι κατά κάποιον τρόπο επιβλαβή ή απαράδεκτο.</p>
            </div>
            <div class="row">
                <h2>Αντίγραφα ασφαλείας</h2>
                <p class="text-left">Εκτελούμε τακτικά αντίγραφα ασφαλείας της Ιστοσελίδας και του Περιεχομένου και θα κάνουμε το καλύτερο δυνατό για να διασφαλίσουμε την πληρότητα και την ακρίβεια αυτών των αντιγράφων ασφαλείας. Σε περίπτωση αποτυχίας υλικού ή απώλειας δεδομένων, θα επαναφέρουμε αυτόματα αντίγραφα ασφαλείας για να ελαχιστοποιήσουμε τον αντίκτυπο και τον χρόνο διακοπής λειτουργίας.</p>
            </div>
            <div class="row">
                <h2>Σύνδεσμοι σε άλλους ιστότοπους</h2>
                <p class="text-left">Παρόλο που ο ιστότοπος αυτός μπορεί να συνδεθεί με άλλους ιστότοπους, δεν συνεπάγεται, άμεσα ή έμμεσα, οποιαδήποτε έγκριση, συσχέτιση, χορηγία, επικύρωση ή σύνδεση με οποιονδήποτε συνδεδεμένο ιστότοπο, εκτός εάν αναφέρεται ρητά εδώ. Δεν είμαστε υπεύθυνοι για την εξέταση ή την αξιολόγηση και δεν εγγυόμαστε τις προσφορές των επιχειρήσεων ή των ατόμων ή του περιεχομένου των ιστότοπων τους. Δεν αναλαμβάνουμε καμία ευθύνη ή ευθύνη για τις ενέργειες, τα προϊόντα, τις υπηρεσίες και το περιεχόμενο οποιουδήποτε άλλου τρίτου μέρους. Θα πρέπει να ελέγξετε προσεκτικά τις νομικές δηλώσεις και τους άλλους όρους χρήσης οποιασδήποτε ιστοσελίδας στην οποία έχετε πρόσβαση μέσω ενός συνδέσμου από αυτόν τον ιστότοπο. Η σύνδεσή σας με οποιουσδήποτε άλλους ιστότοπους εκτός του ιστότοπου είναι με δική σας ευθύνη.</p>
            </div>
            <div class="row">
                <h2>Διαφημίσεις</h2>
                <p class="text-left">Κατά τη χρήση της Ιστοσελίδας, μπορείτε να εισάγετε αλληλογραφία ή να συμμετάσχετε σε προωθήσεις διαφημιζόμενων ή χορηγών που εμφανίζουν τα προϊόντα ή τις υπηρεσίες τους μέσω της Ιστοσελίδας. Οποιαδήποτε τέτοια δραστηριότητα και τυχόν όροι, προϋποθέσεις, εγγυήσεις ή παραστάσεις που σχετίζονται με αυτή τη δραστηριότητα, είναι αποκλειστικά μεταξύ εσάς και του εφαρμοστέου τρίτου μέρους. Δεν θα έχουμε καμία ευθύνη, υποχρέωση ή ευθύνη για οποιαδήποτε τέτοια αλληλογραφία, αγορά ή προώθηση μεταξύ εσάς και οποιουδήποτε τρίτου μέρους.</p>
            </div>
            <div class="row">
                <h2>Απαγορευμένες χρήσεις</h2>
                <p class="text-left">Εκτός από άλλους όρους όπως ορίζονται στη Συμφωνία, απαγορεύεται να χρησιμοποιείτε την Ιστοσελίδα ή το Περιεχόμενο της: (α) για οποιονδήποτε παράνομο σκοπό. (β) να ζητούν από άλλους να εκτελούν ή να συμμετέχουν σε παράνομες πράξεις, (γ) να παραβιάζει οποιονδήποτε διεθνή, ομοσπονδιακό, επαρχιακό ή κρατικό κανονισμό, κανόνες, νόμους ή τοπικά διατάγματα, (δ) να παραβιάζουν ή να παραβιάζουν τα δικαιώματα πνευματικής ιδιοκτησίας μας ή τα δικαιώματα πνευματικής ιδιοκτησίας των άλλων. ε) να παρενοχλούν, να κακοποιούν, να προσβάλλουν, να βλάπτουν, να δυσφημούν, να συκοφαντούν, να εκφοβίζουν, να εκφοβίζουν ή να κάνουν διακρίσεις λόγω φύλου, σεξουαλικού προσανατολισμού, θρησκείας, εθνικότητας, φυλής, ηλικίας, εθνικής προέλευσης ή αναπηρίας · στ) να υποβάλλει ψευδείς ή παραπλανητικές πληροφορίες · (ζ) την αποστολή ή τη μετάδοση ιών ή οποιουδήποτε άλλου είδους κακόβουλου κώδικα που θα χρησιμοποιηθεί ή θα χρησιμοποιηθεί με οποιονδήποτε τρόπο που θα επηρεάσει τη λειτουργικότητα ή τη λειτουργία της Υπηρεσίας ή οποιουδήποτε σχετικού δικτυακού τόπου, άλλων ιστότοπων ή του Διαδικτύου. η) να συλλέγει ή να παρακολουθεί τις προσωπικές πληροφορίες των άλλων · (i) σε spam, phish, pharm, πρόσχημα, αράχνη, crawl ή ξύνω? (ι) για οποιοδήποτε άσεμνο ή ανήθικο σκοπό. ή (k) να παρεμβαίνει ή να παρακάμπτει τα χαρακτηριστικά ασφαλείας της Υπηρεσίας ή οποιουδήποτε σχετικού ιστότοπου, άλλων ιστότοπων ή του Διαδικτύου. Διατηρούμε το δικαίωμα να τερματίσουμε τη χρήση της Υπηρεσίας ή οποιουδήποτε σχετικού ιστότοπου για παραβίαση οποιασδήποτε απαγορευμένης χρήσης.</p>
            </div>
            <div class="row">
                <h2>Περιορισμός ευθύνης</h2>
                <p class="text-left">Στο μέγιστο βαθμό που επιτρέπεται από το εφαρμοστέο δίκαιο, ο Διαχειριστής του Διαδικτυακού Τόπου, οι συνεργάτες του, οι υπάλληλοι, οι διευθυντές, οι υπάλληλοι, οι υπάλληλοι, οι προϊστάμενοι, οι διευθυντές, οι υπάλληλοι, οι πράκτορες, οι προμηθευτές ή οι δικαιοπάροχοι δεν ευθύνονται σε κανέναν για: α. (συμπεριλαμβανομένων, ενδεικτικά, ζημιών για απώλεια κερδών, έσοδα, πωλήσεις, υπεραξία, χρήση ή περιεχόμενο, επίπτωση στις επιχειρήσεις, διακοπή λειτουργίας, απώλεια αναμενόμενης εξοικονόμησης, απώλεια επιχειρηματικών ευκαιριών) συμπεριλαμβανομένης, ενδεικτικά, της σύμβασης, αδικοπραξίας, εγγύησης, παραβίασης του νόμιμου καθήκοντος, αμέλειας ή άλλης μορφής, ακόμη και αν ο Διαχειριστής του Διαδικτυακού Τόπου έχει ενημερωθεί σχετικά με τη δυνατότητα τέτοιων ζημιών ή θα μπορούσε να προβλέψει τέτοιες ζημίες. Στο μέγιστο βαθμό που επιτρέπεται από το εφαρμοστέο δίκαιο, η συνολική ευθύνη του Διαδικτυακού Τόπου και των θυγατρικών του, των υπαλλήλων, των υπαλλήλων, των αντιπροσώπων, των προμηθευτών και των δικαιοπαρόχων που σχετίζονται με τις υπηρεσίες θα περιορίζεται σε ποσό μεγαλύτερο από ένα δολάριο ή οποιαδήποτε ποσά πραγματικά καταβληθέντα σε μετρητά από εσάς στον Διαχειριστή του Διαδικτυακού Τόπου για το προγενέστερο ένα μήνα πριν από το πρώτο συμβάν ή το γεγονός που δημιουργεί τέτοια ευθύνη. Οι περιορισμοί και οι αποκλεισμοί ισχύουν επίσης εάν αυτή η αποζημίωση δεν σας αποζημιώσει πλήρως για οποιεσδήποτε απώλειες ή αποτυγχάνει του βασικού της σκοπού.</p>
            </div>
            <div class="row">
                <h2>Αποζημίωση</h2>
                <p class="text-left">Συμφωνείτε να αποζημιώσετε και να αποζημιώσετε τον Διαχειριστή του Διαδικτύου και τους συνεργάτες του, τους διευθυντές, τους αξιωματικούς, τους υπαλλήλους και τους αντιπροσώπους σας από και έναντι οποιωνδήποτε υποχρεώσεων, ζημιών, ζημιών ή εξόδων, συμπεριλαμβανομένων των εύλογων αμοιβών δικηγόρων, που πραγματοποιούνται σε σχέση με ή προκύπτουν από τρίτους καταγγελίες, αξιώσεις, ενέργειες, διαφορές ή απαιτήσεις που διατυπώνονται εναντίον οποιουδήποτε εξ αυτών ως αποτέλεσμα ή σχετίζονται με το περιεχόμενό σας, τη χρήση της Ιστοσελίδας ή των Υπηρεσιών ή οποιουδήποτε εσκεμμένου παραπτώματος εκ μέρους σας.</p>
            </div>
            <div class="row">
                <h2>Αυστηρότητα</h2>
                <p class="text-left">Όλα τα δικαιώματα και οι περιορισμοί που περιέχονται στην παρούσα Συμφωνία μπορούν να ασκηθούν και να εφαρμοστούν και να δεσμευθούν μόνο στο βαθμό που δεν παραβιάζουν τους ισχύοντες νόμους και προορίζονται να περιορίζονται στο βαθμό που είναι απαραίτητο ώστε να μην καταστήσουν τη Συμφωνία παράνομη, ή μη εκτελεστή. Εάν οποιαδήποτε διάταξη ή τμήμα οποιασδήποτε διάταξης της παρούσας Συμφωνίας κηρυχθεί παράνομη, άκυρη ή μη εκτελεστή από δικαστήριο αρμόδιας δικαιοδοσίας, η πρόθεση των μερών είναι οι υπόλοιπες διατάξεις ή τμήματα αυτών να συνιστούν τη συμφωνία τους όσον αφορά την το παρόν αντικείμενο και όλες αυτές οι υπόλοιπες διατάξεις ή τμήματα αυτών παραμένουν σε πλήρη ισχύ και ισχύ.</p>
            </div>
            <div class="row">
                <h2>Επίλυση διαφορών</h2>
                <p class="text-left">Η σύσταση, η ερμηνεία και η εκτέλεση αυτής της Συμφωνίας καθώς και τυχόν διαφωνίες που προκύπτουν από αυτήν διέπονται από τους ουσιαστικούς και διαδικαστικούς νόμους της Αττικής, ανεξαρτήτως των κανόνων σύγκρουσης ή επιλογής του νόμου και, κατά το δυνατόν, των νόμων της Ελλαδας. Η αποκλειστική δικαιοδοσία και ο τόπος διεξαγωγής των αγωγών που σχετίζονται με το αντικείμενο της παρούσας είναι τα κρατικά και ομοσπονδιακά δικαστήρια που βρίσκονται στην Αττική της Ελλάδας και υποβάλλετε με αυτό τον τρόπο στην προσωπική δικαιοδοσία των εν λόγω δικαστηρίων. Απαλλάσσετε κάθε δικαίωμα σε δίκη της κριτικής επιτροπής σε οποιαδήποτε διαδικασία που προκύπτει από ή σχετίζεται με την παρούσα Συμφωνία. Η Σύμβαση των Ηνωμένων Εθνών για τις συμβάσεις για τη διεθνή πώληση αγαθών δεν εφαρμόζεται στην παρούσα συμφωνία.</p>
            </div>
            <div class="row">
                <h2>Αλλαγές και τροποποιήσεις</h2>
                <p class="text-left">Επιφυλασσόμαστε του δικαιώματος τροποποίησης της παρούσας Συμφωνίας ή των πολιτικών της σχετικά με την Ιστοσελίδα ή τις Υπηρεσίες ανά πάσα στιγμή, με ισχύ από την δημοσίευση μιας ενημερωμένης έκδοσης αυτής της Συμφωνίας στην Ιστοσελίδα. Όταν το κάνουμε, θα σας στείλουμε ένα μήνυμα ηλεκτρονικού ταχυδρομείου για να σας ειδοποιήσουμε. Η συνεχής χρήση της Ιστοσελίδας μετά από οποιεσδήποτε τέτοιες αλλαγές συνιστά τη συγκατάθεσή σας σε τέτοιες αλλαγές. Η πολιτική δημιουργήθηκε με <a style="color:#333" target="_blank" title="Create terms and conditions" href="https://www.websitepolicies.com/terms-and-conditions-generator">WebsitePolicies.com</a></p>
            </div>
            <div class="row">
                <h2>Αποδοχή αυτών των όρων</h2>
                <p class="text-left">Αναγνωρίζετε ότι έχετε διαβάσει αυτήν τη Συμφωνία και συμφωνείτε με όλους τους όρους και τις προϋποθέσεις της. Χρησιμοποιώντας την Ιστοσελίδα ή τις Υπηρεσίες της, συμφωνείτε να δεσμεύεστε από την παρούσα Συμφωνία. Εάν δεν συμφωνείτε να συμμορφώνεστε με τους όρους της παρούσας Συμφωνίας, δεν έχετε εξουσιοδότηση να χρησιμοποιείτε ή να έχετε πρόσβαση στην Ιστοσελίδα και τις Υπηρεσίες της.</p>
            </div>
            <div class="row">
                <h2>Για να επικοινωνήσετε μαζί μας</h2>
                <p class="text-left">Εάν έχετε οποιεσδήποτε απορίες σχετικά με αυτήν τη Συμφωνία, παρακαλούμε επικοινωνήστε μαζί μας.</p>
                <p class="text-left">Το παρόν έγγραφο ενημερώθηκε τελευταία φορά στις 19 Φεβρουαρίου 2019.</p>
            </div>
        </div>
        <br><br>
        
        <%- include('./includes/html/footer.ejs'); %>
    </body>
</html>